<nav class="bg-green-600 shadow-lg sticky top-0 z-50">
    <div class="container mx-auto px-6 py-4 flex justify-between items-center">
        <a href="{% url 'inicio' %}" class="flex items-center space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4a4 4 0 014-4h10a4 4 0 014 4v4M3 10l6.39 6.39a2 2 0 002.83 0L18 10M5 3l4.5 6L14 3h-4l-2 3L5 3z" />
            </svg>
            <div class="flex flex-col">
                <span class="font-bold text-lg text-white">EcoTurismo México</span>
                <span class="text-xs text-green-100">Recorridos por la naturaleza de México</span>
            </div>
        </a>

        <ul class="flex items-center space-x-6">
            <li>
                <a href="{% url 'inicio' %}" class="text-white hover:text-green-200 font-medium">Inicio</a>
            </li>
            <li>
                <a href="{% url 'viajes_proximos' %}" class="text-white hover:text-green-200 font-medium">Próximos Viajes</a>
            </li>
            <li>
                <a href="{% url 'viajes_terminados'%}" class="text-white hover:text-green-200 font-medium">Viajes Finalizados</a>
            </li>
        </ul>
    </div>
</nav>